$primary: #05B4B7;
$primary-dark: #049598;
$accent: #202654;
$accent-dark: #181D4A;
$success: #4DB95F;
$info: #42AEDA;
$danger: #fb6f91;

$gray: #333;

$gradient-linear: linear-gradient(to top, $accent-dark, $accent);